.shop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 40px;
}

.shopHeading {
    font-size: calc(2rem + .75vw);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}